html,label{
  color: lime;
  background-color: black;
}
a{
  color: green;
}
.navbar {
  overflow: hidden;
  background-color: black;
}
.navbar a {
  float: left;
  display: block;
  color: lime;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background-color: lime;
  color: black;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: lime;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content p {
    float: none;
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown .dropbtn:hover{
  background-color: lime;
  color: black;
}
.dropdown.right{
  float: right;
}
