html,label{
  color: white;
  background-color: dimgray;
}
a{
  color: orange;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
.navbar a:hover ,.dropdown-content p:hover,.dropdown .dropbtn:hover {
  background-color: orange;
  color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown.right{
  float: right;
}

  .login input[type=text], .login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

/* Add a hover effect for buttons */
.login button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.login .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.login .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
.login img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.login .container {
    padding: 16px;
}

/* The "Forgot password" text */
.login span.psw {
    float: right;
    padding-top: 16px;
    background-color: dimgray;
}

/* Area where forgot password is contained*/
.login div.container{
  background-color: dimgray;
}
/* Change styles for span and cancel button on extra small screens */
.login @media screen and (max-width: 300px) {
    .login span.psw {
        display: block;
        float: none;
        background-color: dimgray;
    }
    .login .cancelbtn {
        width: 100%;
    }
  }
